* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

img {
  width: 100px;
}

.header {
  text-align: center;
  background-color: beige;
}
.logo {
  width: 200px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.wrapper-sec {
  background-color: bisque;
  padding: 28px;
  border-radius: 30px;
  min-width: 400px;
}

.description {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.btn {
  font-size: 24px;
  padding: 10px;
  background-color: bisque;
  border-radius: 9px;
  border-style: none;
  cursor: pointer;
  color: blueviolet;
}
.btn:hover {
  background-color: aquamarine;
}

.btn:active {
  background-color: beige;
}
